# This file is containing the mappings of branches to their baselineConfiguration

# main branch - baseline for the next planned release
main=refs/tags/rel-1.0.0

# release maintenance branch - for maintenance fixes for the current release in production rel-2.1.0
# rel-2.1.0=rel-2.1.0 in a comment for testing
# rel-2.1.0 already has a fix, so the new baseline is 2.1.1 :-) 
release/rel-1.0.0=refs/tags/rel-1.0.0
